* {
  font-family: "Times New Roman", Times, serif;
}
.container {
  margin: 5vh auto;
}
.cv-form {
  background-color: rgb(247, 247, 247);
  width: 50%;
  margin: auto;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mb-3 {
  border-bottom: 4px gray solid;
  border-radius: 2% 2% 0 0;
  padding-top: 30px;
}
.form-item {
  padding: 30px;
}
.card {
  background-color: inherit;
}
input,
select,
textarea {
  border: none !important;
  background-color: white;
}
select {
  cursor: pointer;
}
.close {
  position: absolute;
  right: 5px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
label.error {
  font-size: 14px;
  color: red;
}
#exampleFormControlFile3-error {
  position: absolute;
  top: 25px;
  left: 15px;
}
input.form-control-file {
  position: absolute;
}
@media (max-width: 800px) {
  .container {
    margin: 0;
    padding: 0;
  }
  .cv-form {
    width: 100%;
  }
}
