* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.cv-form {
  width: 600px;
  margin: auto;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mb-3 {
  border-bottom: 4px gray solid;
  border-radius: 2% 2% 0 0;
  padding-top: 30px;
}
.form-item {
  padding: 30px;
}
